{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}users{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for user in posts %}
    <article class="post">
      <header>
        <div>
          <sdiv class="about"> {{ user['username'] }} </div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}s
